@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Satoshi', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #112049;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* index.css */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.swiper-pagination-bullet {
  margin-top: 16px;
  background-color: #ffffff !important;
}

@media (min-width: 1920px) {
  .swiper-wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.swiper-slide-shadow-right {
  border-radius: 0.5rem;
}

.swiper-slide-shadow-left {
  border-radius: 0.5rem;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
  opacity: 30%;
}
